#blur{
    width:100%;
    height:565px;
    background-color: rgba(13, 21, 60,0.2) ;
    background-image: url('../images/prishtina.jpg');
    background-size: cover;
    background-blend-mode: lighten;
    filter:blur(10px);
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
}
#entrance1{
    background-color: rgba(13, 21, 60,0.7) ;
    background-image: url('../images/prishtina.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
#entrance1 h1{
    font-size: 4em;
    color:white;
    font-weight: 500;
    display: flex;
    margin:17% 19% 0 19%;
}
#entrance1 h3{
    font-size: 1.3em;
    color:white;
    font-weight: 300;
    display: flex;
    margin:0.5% 15% 0 17%;
    padding-bottom: 15%;
}
#about{
    padding:9% 20% 5% 20%;
    text-align: center;
    font-family: sans-serif;
    color:#ababab;
}
#about p{
    font-size: 1.2em;
}
#about h1{
    font-size: 2.3em;
    font-weight: 300;
    margin:1% 0 2% 0;
}
#details button {
    padding: 4% 9%;
    color:white;
    background: #E2CBA0;
    margin:10% 150%;
    border: none;
    border-radius: 10px;
}
#about button{
    padding:2% 7%;
    color:white;
    background: #E2CBA0;
    margin:5% auto;
    border: none;
    border-radius: 10px;
}
#culture{
    text-align: center;
}
#culture p{
    width:80%;
    margin:1% auto;
}
#culture img{
    width:100%;
    height: auto;
}
td{
    width:48%;
}
aside{
    color:#777777;
    background: #dadada;
    padding: 5%;
}
aside iframe{
    display: inline-block;
    vertical-align: middle;
}
#details{
    display: inline-block;
    font-size: 1.2em;
    margin-left: 5%;
    vertical-align: middle;
}
#details h2{
    margin-bottom: 5%;
}
#details p{
    padding: 2%;
}
table{
    border-collapse: collapse;
}