img{
    width:25%;
    margin:-2px;
    height:22vh;
}
#foto .card img{
  width:100%;
  height: 300px;
  border:2px dotted darkkhaki;
  
}
#gallery1,#gallery2,#gallery3,#gallery4{
    
    margin: 1% 8%;
}
#blur{
  width:100%;
  height:565px;
  background-color: rgba(13, 21, 60,0.7) ;
  background-image: -webkit-linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  background-image: -moz-linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  background-image: -ms-linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  background-image: -o-linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  background-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  background-size: cover;
  background-blend-mode: lighten;
  filter:blur(10px);
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}
#entrance{
  background-color: rgba(13, 21, 60,0.7) ;
  background-image: url('../images/kosovoflag.jpg');
  background-origin: content-box;
  background-size: cover;
  background-blend-mode: darken;
  height: 65vh;
}

h1{
    font:2.2em sans-serif;
    color: darkblue;
    margin:3% 8% 1% 8%;
}
button{
    margin:1% 7.5%;
    border: 2px solid darkblue;
    font-size:1em;
    padding: 0.5% 1.5%;
    border-radius: 35px;
}
button:hover{
    background: darkblue;
    color: white;
}
video{
    margin:4% 15%;
}
#entrance h1{
    font-size: 3em;
    color:white;
    font-weight: 500;
    display: flex;
    margin:10% 35% 0 40%;
    
    -webkit-animation: myAnim 5s;
    -moz-animation: myAnim 5s;
    -ms-animation: myAnim 5s;
    -o-animation: myAnim 5s;
    animation: myAnim 5s;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
    

}
@keyframes myAnim{
        0%{color: crimson;}
        25%{color: cornflowerblue;}
        50%{color: cornsilk;}
        100%{color: yellowgreen}
}

.card{
    width:25%;
    height:300px;
    position: relative;
    top:-30px;
    margin-left: 5%;
    display: inline-block;
}
#foto{
    margin:0 13%;
}
#anim-two
  {text-align: center;
  }
#anim-two ul
    {text-align: center;
    list-style: none}
#anim-two ul li
     { width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: red;
      display: inline-block;
      margin: 0 30px;
      -webkit-transform: translateY(-120px);
      -moz-transform: translateY(-120px);
      -ms-transform: translateY(-120px);
      -o-transform: translateY(-120px);
      transform: translateY(-120px);
     
      -webkit-animation: bounce-balls 3s cubic-bezier(0.245, 0.325, 0.510, 1.305)  alternate;}
      -moz-animation: bounce-balls 3s cubic-bezier(0.245, 0.325, 0.510, 1.305)  alternate;}
      -ms-animation: bounce-balls 3s cubic-bezier(0.245, 0.325, 0.510, 1.305)  alternate;}
      -o-animation: bounce-balls 3s cubic-bezier(0.245, 0.325, 0.510, 1.305)  alternate;}
      animation: bounce-balls 3s cubic-bezier(0.245, 0.325, 0.510, 1.305)  alternate;}

      
      #anim-two ul li:nth-child(1)
        {background: crimson;
        animation-delay: 1s;}
      #anim-two ul li:nth-child(2)
        {background: cornsilk;
        animation-delay: .8s;}
      #anim-two ul li:nth-child(3)
        {background: cornflowerblue;
        animation-delay: 1.1s;}
      #anim-two ul li:nth-child(4)
        {background: yellowgreen;
        animation-delay: 1.8s;}
      #anim-two ul li:nth-child(5)
        {background: lightcoral;
        animation-delay: 1.2s;}
      #anim-two ul li:nth-child(6)
        {background: yellow;
        animation-delay: 1.5;}
        #anim-two ul li:nth-child(7)
        {background-color: cadetblue;
        animation-delay: 1s;}
        #anim-two ul li:nth-child(8)
        {background: cornsilk;
        animation-delay: .9s;}
      #anim-two ul li:nth-child(9)
        {background: cornflowerblue;
        animation-delay: 1.1s;}
      #anim-two ul li:nth-child(10)
        {background: yellowgreen;
        animation-delay: 1.7s;}
      #anim-two ul li:nth-child(11)
        {background: lightcoral;
        animation-delay: 2.2s;}
      #anim-two ul li:nth-child(13)
        {background: yellow;
        animation-delay: 1.2s;}
        #anim-two ul li:nth-child(12)
        {background-color: cadetblue;
        animation-delay: 2s;}

@keyframes bounce-balls
 {   0%{opacity:0.2;

      -webkit-transform: translateY(-120px);    
      -moz-transform: translateY(-120px);
      -ms-transform: translateY(-120px);
      -o-transform: translateY(-120px);
      transform: translateY(-120px);
}
    30%
    {
    opacity: 0.3;
      -webkit-transform: translateY(-30px);
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -o-transform: translateY(-30px);
      transform: translateY(-30px);
  }
  60%
    {
      -webkit-transform: translateY(77px);
      -moz-transform: translateY(77px);
      -ms-transform: translateY(77px);
      -o-transform: translateY(77px);
      transform: translateY(77px);
      opacity: 0.5;}
  80%
    {
      -webkit-transform: translateY(65px);
      -moz-transform: translateY(65px);
      -ms-transform: translateY(65px);
      -o-transform: translateY(65px);
      transform: translateY(65px);
    opacity: 0.5;}
  100%
    {
      -webkit-transform: translateY(90px);
      -moz-transform: translateY(90px);
      -ms-transform: translateY(90px);
      -o-transform: translateY(90px);
      transform: translateY(90px);
      opacity: 0.3;}
 }