*{
    margin:0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background: white;
}
.wrapper{
    width: 1200px;
    border-top: 6px solid #E2CBA0;
    margin:1% auto;
    box-shadow: 2px 20px 50px #0D153C;
    background-color: white;

}
#entrance
{
    background-color: #0D153C;
}

#entrance>p,#entrance1>p{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    padding-top:1%;
    padding-bottom: 1%;
    margin-left:9%;
    font-size:2em;
    display: inline-block;
    vertical-align: baseline;
    -webkit-transition: transform 1s;
    -moz-transition:transform 1s;    
    -ms-transition:transform 1s;
    -o-transition:transform 1s;
    transition: transform 1s;
    
}

#entrance>p:hover,#entrance1>p:hover{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform: rotateX(35deg);
    -moz-transform: rotateX(35deg);
    -ms-transform: rotateX(35deg);    
    -o-transform: rotateX(35deg);    
    transform: rotateX(35deg);    

    -webkit-transform: rotateY(-35deg);
    -moz-transform: rotateY(-35deg);
    -ms-transform: rotateY(-35deg);
    -o-transform: rotateY(-35deg);
    transform: rotateY(-35deg);

    -webkit-transform: scale3d(1.5,1.2,1);
    -moz-transform: scale3d(1.5,1.2,1);
    -ms-transform: scale3d(1.5,1.2,1);
    -o-transform: scale3d(1.5,1.2,1);
    transform: scale3d(1.5,1.2,1);
}
#entrance nav,#entrance1 nav{
    display: inline;
    margin-left:11.5%;
    margin-right:8%;
}
#entrance ul,#entrance1 ul{
    display: inline;
}
#entrance nav ul li,#entrance1 nav ul li{
    list-style-type: none;
    display: inline;
    padding-left:1%;
}
#entrance ul li a,#entrance1 ul li a{
    text-decoration: none;
    color: white;
    font-size:1.2em; 
    font-family: 'Courier New', Courier, monospace;
    padding: 1% 1.5%;
}
#entrance ul li a:hover,#entrance1 ul li a:hover{
    background: #E2CBA0;
    color: #0D153C;
    border-radius:0.6em;
} 
nav ul li div#dropdown {
    
    position: absolute;
    background-color: rgba(13, 21, 60,0.75);
    width: 200px;
    left: 68%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: -5px;
    z-index: 2;
    height: 0px;

    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
  }
  nav ul li div#dropdown ul{
      display: none;
  }

  nav ul li div#dropdown ul li{
      padding: 0% ;
      padding-left: 20px;
      
  }
 nav ul li div#dropdown ul li a {
    color: white;
    
    padding: 20px 20px;
    text-decoration: none;
    display: block;
    
  }
  nav ul li div#dropdown ul li a:hover {background-color: rgba(226, 203, 160,0.75); color: white;}

  nav ul li:hover div#dropdown { height: 170px;}
  nav ul li:hover div#dropdown ul{display: block;}
 


/*footer*/
footer{
    
    height:449px;
    
}

footer >div{
    padding: 42px 120px;
    height: 306px;
    float:left;
    background-color: #303030;  
    border-bottom: 1px solid black;
    
    
}
.footerDivs{
    
    display: inline-block;
    width:23.1%;
    margin-left:20px;
    height: 304px;
    padding-left:0.1%;
    float: left;
}



#blog { margin-left:0px; }

.greenText {
    color: #E2CBA0;
    padding-top: 15px;
}


a:link {
    color: white;
    text-decoration:none;
}

a:visited{
    color: #E2CBA0;
}

.divHeader{
    color: white;
    padding-bottom:15px;
}

.smallText {
    color: #666666;
    font-size:0.8em;
    padding-top:5px;
    padding-bottom:5px;
    
}

footer nav ul {
    padding-top:15px;
    list-style-type:none;
}

footer nav ul li{
    color:#979797;
    font-size:0.5em;
    padding-top:7.5px;
    border-bottom: 1px solid #404040;
    padding-bottom:7.5px;
    
}

footer nav ul li a{
    color: #E2CBA0;
    font-size:2em;
    text-decoration:none;
}

.aligner {
    padding-top:25px;
}


form{
    padding-top:15px;
}

footer [name]{
    margin-bottom:8px;
    padding: 10px;
    width: 95%;
    background-color: #222222;
    border: none;
    border-radius:6px;
    color: white;
    resize:none;
    
}

[type=submit]{
    color:#222222;
    background-color: #E2CBA0;
    font-weight:bold;
    border:none;
    border-radius:6px;
    width: 30%;
    height:30px;;
}

[type=submit]:hover{
    background-color: #505050;
    color: #76C38F;
    cursor: pointer;
}

footer > p{
    border-top: 1px solid #3A3A3A;
    padding: 20px 120px;
    background-color: #2B2B2B;
    float:left;
    width: 960px;;
}
.error {
    
    background: #ffcdd2;
    box-shadow: 0 0 5px white;
    border-color: white;
}

#active
{
    border-bottom: 2px solid #E2CBA0;
    border-top: 2px solid #E2CBA0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    box-shadow: 0px 0px 5px #E2CBA0;
}